#nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
  height: $nav-height;
	width: auto;
  .logo{
    img{
      width: 128px;
      height: 128px;
    }

  }

}
